extends layout

block content
  #messageContainer
    a(href='/') Back
    h1 New Message
        form(method="POST" action="/new").form
          input(type='text' name='messageUser' placeholder='Name')
          input(type='text' name='messageText' placeholder='Type message...')
          input(value='Submit' type='submit')
  