extends layout

block content
  .content 
    h1= title
    h2 Welcome back!
    a(href='/new') New Message
    .messageContainer
      each message in messages
        p= message.text
        p= message.user 
        p= message.added 