body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h1 {
  color: #1DA1F2;
  font-size: 2rem
}

.form {
  display: flex;
  flex-direction: column;
}

.messageContainer {
  border-style: solid;
  border: black;
}